<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <p class="alert-heading">
  <% if (Array.isArray(err.message)) { %>
    <ul>
      <% err.message.forEach(msg => { %>
        <li><%= msg %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <%= err.message %>
  <% } %>
</p>

</div>
